body{
    font-family: 'Roboto', sans-serif;   
     background-color:#f3efe9 ;
     background-size: cover;
    /* background-image: url("image/backgorundflowers.jpg");
     background-repeat: no-repeat;*/
}

.green-background {
  background-color: #bec2ae;

}

.rsvp-body{
  background-color: #bec2ae;

}

h1{
    color: #fefefe;
}

p{
    color: #fefefe;
}

.info-text{
  color:#3e3e30;
}

.header{
    height: 87px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    position: relative;
    z-index: 100;
}

.logo-header-text{
  height: 100px;
  
}

a{
    text-decoration: none;
    font-size: 20px;
    color: #3e3e30;
}

.showDropDown {
    display: none;
  }

  .navbar-a-container{
    display: flex; 
    gap: 81px;
    align-items: center;

  }

  .hamburger {
    display: none;
  }

  .main-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    background-color: #bec2ae;
    align-items: center;
    margin: 40px auto 40px auto; 
    border-radius: 6px;
    box-shadow: 1px 2px 9px -3px rgba(128,126,128,1);
    background-image: url("image/transparentbackground.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.info-container{
  width: 40%;
}

.main-container-no-background-image{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  background-color: #f3efe9;
  align-items: center;
  margin: 40px auto 40px auto; 
  border-radius: 6px;
  box-shadow: 1px 2px 9px -3px rgba(128,126,128,1);


}

.rsvp-container{
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 384px;
  background-color: #f3efe9;
  align-items: center;
  border-radius: 6px;
  box-shadow: 1px 2px 9px -3px rgba(128,126,128,1);
  z-index: 99;
  margin: 60px auto 0px auto;
  background-image: url("image/transparentbackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.rsvp-image-container{
  width: 70%;
  margin: 0 auto;
  display: flex;
}

.text-container{
    width: 64%;
    display: flex;
  flex-direction: column;
  color: #fefefe;
  line-height: 1.5;
  padding-bottom: 40px;
}

.info-main-container{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
}

.rsvp-button{
    width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px 0px #d5d5d5; 
   background-color: #cbb5ab;
   color: #3e3e30;
  }

.wishlist-button{
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px 0px #d5d5d5; 
   background-color: #cbb5ab;}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
  width: 80%;
  margin: 0 auto;
  padding-top: 40px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}

@media screen and (max-width: 600px){
  html .showDropDown.hide{
    overflow: hidden;
  }

  .info-main-container{
    flex-direction: column;
    width: 100%;
  }

  .rsvp-image-container{
    width: 98%;
  }

  .rsvp-image-container img{
    display: none;
  }

  .rsvp-container{
    height: 470px;
  }

.showDropDown.hide {
  width: 100%;
  height: 100%;
  background-color: #f3efe9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
line-height: 3.6;
}

.gallery{
  display: flex;
  flex-direction: column;
}

  
    .header{
      align-items: center;
      justify-content: space-between;
   }
   

   .navbar-a-container{
    display: none;
   }
    .hamburger {
      z-index: 4;
      cursor: pointer;
      transition: width 2s, height 2s, transform 2s;
      display: flex;
      flex-direction: column;
      padding-bottom: 10px;
      padding-right: 14px;
    }
    .bar {
      display: flex;
      width: 30px;
      height: 4px;
      margin-top: 3px;
      background-color: #3e3e30;
      border-radius: 6px;
    }
    .logo-header-text{
      padding-top: 15px;
    }

    .main-container{
      margin: 40px auto 0px auto;
  width: 98%;
    }

    .main-container-no-background-image{
      margin: 40px auto 0 auto;
  width: 98%;
    }
}